<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839817086324-78dtht5jql2hfu5joe211rmhclmatkm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839817086324-78dtht5jql2hfu5joe211rmhclmatkm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAPD4v7j5xmYdzrWziiZRECdEGOSVxY4oo</string>
	<key>GCM_SENDER_ID</key>
	<string>839817086324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorSchmidt.Antion</string>
	<key>PROJECT_ID</key>
	<string>antion-2a523</string>
	<key>STORAGE_BUCKET</key>
	<string>antion-2a523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839817086324:ios:f3ee52205fbae34f9bd821</string>
	<key>DATABASE_URL</key>
	<string>https://antion-2a523-default-rtdb.firebaseio.com</string>
</dict>
</plist>